@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');


.mobile-intro {
    background: url('./images/bg-pattern-intro-mobile.svg'), linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%)) ;
    font-family: 'Overpass';
    background-position: -3000px 25%;

}

body {
    box-sizing: border-box;
    font-family: 'Overpass'
}

.fotter {
    font-family: 'Ubuntu';
    font-weight: 400;
}

.fotter-title {
    font-family: 'Ubuntu';
    font-weight: 500;
}

.fotter-li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.no-scroll {
    overflow: hidden;
}

.first-card {
    background-image: url('./images/illustration-editor-desktop.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
}


